[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "aniview"]
	path = aniview
	url = https://github.com/lgnbhl/aniview
[submodule "aos"]
	path = aos
	url = https://github.com/lgnbhl/aos
[submodule "BFS"]
	path = BFS
	url = https://github.com/lgnbhl/bfs
[submodule "gotop"]
	path = gotop
	url = https://github.com/lgnbhl/gotop
