[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BFS"]
	path = BFS
	url = https://github.com/lgnbhl/bfs
[submodule "aniview"]
	path = aniview
	url = https://github.com/lgnbhl/aniview
[submodule "aos"]
	path = aos
	url = https://github.com/lgnbhl/aos
[submodule "gotop"]
	path = gotop
	url = https://github.com/lgnbhl/gotop
[submodule "muiMaterial"]
	path = muiMaterial
	url = https://github.com/lgnbhl/muimaterial
[submodule "muiTreeView"]
	path = muiTreeView
	url = https://github.com/lgnbhl/muitreeview
[submodule "reactRouter"]
	path = reactRouter
	url = https://github.com/lgnbhl/reactrouter
[submodule "xlcharts"]
	path = xlcharts
	url = https://github.com/lgnbhl/xlcharts
